Repository idontknowjs/gnome-websites-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:node, install:jekyll

.gitlab-ci.yml:

variables:
  BUNDLE_DEPLOYMENT: "true"
  BUNDLE_FROZEN: "true"
  BUNDLE_CACHE_PATH: ".bundler-cache"
  BUNDLE_PATH: ".bundler-cache"

cache: &cacheSettings
  key:
    files:
      - documentation/Gemfile.lock
      - package-lock.json
  when: on_success
  policy: pull
  paths:
    - documentation/.bundler-cache
    - .npm

.npmInstallScript: &npmInstallScript
  - npm ci --no-shrinkwrap --cache .npm --prefer-offline

.rubyInstallScript: &rubyInstallScript
  - gem install bundler:2.2.11
  - bundle install -j $(nproc) --gemfile documentation/Gemfile

stages:
  - install
  - build:library
  - build:docs
  - deploy

install:node:
  stage: install
  needs: [ ]
  image: node:15-alpine
  script:
    - *npmInstallScript
  cache:
    <<: *cacheSettings
    policy: pull-push
  rules:
    - changes:
      - package-lock.json
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH != "main"'
      when: manual

install:jekyll:
  stage: install
  needs: [ ]
  image: ruby:2.7
  script:
    - *rubyInstallScript
  cache:
    <<: *cacheSettings
    policy: pull-push
  rules:
    - changes:
      - documentation/Gemfile.lock
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH != "main"'
      when: manual

build:library:
  stage: build:library
  image: node:15-alpine
  before_script:
    - *npmInstallScript
  script:
    - npm run build
  artifacts:
    paths:
      - dist
      - assets
    expire_in: 1 day
  rules:

build:docs:
  stage: build:docs
  needs:
    - job: build:library
      artifacts: true
  image: ruby:2.7-slim
  before_script:
    - *rubyInstallScript
  script:
    - cd documentation
    - mkdir _sass/custom
    - cp ../dist/index.css "_sass/custom/custom.scss"
    - bundle exec jekyll build -d build
  artifacts:
    paths:
      - documentation/build
    expire_in: 1 day
  rules:

pages:
  stage: deploy
  needs:
    - job: build:docs
      artifacts: true
  image: alpine
  script:
    - rm -rf public
    - mv documentation/build public
  artifacts:
    paths:
      - public
    expire_in: 1 day
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

ammend link for gifs in 'documentaion/components/inputs.md'
  documentation/components/inputs.md
Due: none

remove the useless assets folder present outside the documentation folder
  assets/logo-horizontal.svg
  assets/logo-vertical.svg
Due: none

Automated adding of index.min.css.map in gulp on npm build
  gulpfile.js
  package-lock.json
  package.json
Due: install:node

remove samples from documentation
  documentation/samples/buttons.md
  documentation/samples/colors.md
  documentation/samples/index.md
  documentation/samples/inputs.md
  documentation/samples/typography.md
Due: none

refactor(docs): updated the docs
  README.md
Due: none

refactor(ci): do not run jobs when not needed
  .gitlab-ci.yml
Due: none

fix(ci): pages should also only build if previous condition is proven true
  .gitlab-ci.yml
Due: none

fix(ci): updated readme
  README.md
Due: none

fix(ci): revert previous changes and update dependencies
  .gitlab-ci.yml
Due: none

feat(ide): added web_ide configuration
  .gitlab/.gitlab-webide.yml
Due: none

feat(ide): added sleep and service for file sync
  .gitlab/.gitlab-webide.yml
Due: none

feat(ide): use bundler 2.2.11
  .gitlab/.gitlab-webide.yml
Due: none

feat(ci): updated bundler dependencies for ruby 3
  documentation/Gemfile
  documentation/Gemfile.lock
Due: install:jekyll

feat(ci): updated ruby and bundler versions
  .gitlab-ci.yml
Due: none

feat(npm): updated node packages and lock file
  package-lock.json
  package.json
Due: install:node

aligned search-icon in search input
  src/components/input.pcss
Due: none

add favicon.ico
  favicon.ico
Due: none

added 'Regular Search' to jekyll documentation
  documentation/components/inputs.md
  src/components/input.pcss
Due: none

added collapsable-search in jekyll documentation
  documentation/components/inputs.md
  src/components/input.pcss
Due: none

added fixed width to date-input
  documentation/components/inputs.md
  src/components/input.pcss
Due: none

added spacing between element and its code snippet in input-documentaion
  documentation/components/inputs.md
  src/components/input.pcss
Due: none

fixed typo in 'inputs.md'
  documentation/components/inputs.md
Due: none

Create Gulp Task to watch changes in the CSS library source and rebuild it on-demand
  gulpfile.js
  package.json
Due: none

refactor(readme): updated readme text
  README.md
Due: none

fix(favicon): fixed favicon being in the wrong folder
  documentation/favicon.ico
Due: none

feat(jekyll): specific just-the-docs version
  documentation/Gemfile
  documentation/Gemfile.lock
Due: install:jekyll

feat(ci): always copy readme before building jekyll
  .gitlab-ci.yml
  documentation/index.md
Due: none

refactor(jeykk): updated _config file
  documentation/_config.yml
Due: none

refactor(gemfile): updated gemfile structure
  documentation/Gemfile
  documentation/Gemfile.lock
Due: install:jekyll

refactor(readme): when serving jekyll use watch
  README.md
Due: none

Enforced node version >= 12.13.0
  .npmrc
  package.json
Due: none

Updated tailwindcss/custom-forms to tailwindcss/forms
  package-lock.json
  package.json
  tailwind.config.js
Due: install:node

Removed . from attributes with @apply
  src/components/input.pcss
Due: none

Bumped gulp-postcss v9.0.0 & dependency management
  package-lock.json
  package.json
Due: install:node

Fixed pipeline failure due to input styles and improved docs
  documentation/components/buttons.md
  documentation/components/inputs.md
  src/components/input.pcss
Due: none

Updated dependencies
  package.json
Due: none

Updated shadow-ouline and shadow-xs to ring
  src/components/button.pcss
  src/components/input.pcss
  tailwind.config.js
Due: none

Updated Tailwind, PostCSS via npm
  documentation/Gemfile.lock
  package-lock.json
  package.json
Due: install:node, install:jekyll

Reverted Gemfile.lock
  documentation/Gemfile.lock
Due: install:jekyll

Update default theme keys to DEFAULT
  tailwind.config.js
Due: none
